In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

In [29]:
data = pd.read_csv("UmojaHack#3:Hotspots/train.csv")
data.head()

,ID,area,date,lat,lon,burn_area,climate_aet,climate_def,climate_pdsi,climate_pet,...,landcover_1,landcover_2,landcover_3,landcover_4,landcover_5,landcover_6,landcover_7,landcover_8,population_density,precipitation
0,0_2000-04-01,0,2000-04-01,25.447,5.296,0.003688,1250.622712,0.0,-178.916305,1250.622712,...,0.0,0.350169,0.0,0.649524,0.0,0.000307,0.0,0.0,2.214262,0.198996
1,1_2000-04-01,1,2000-04-01,25.669,5.293,0.000000,1238.019166,0.0,-150.779947,1238.019166,...,0.0,0.429049,0.0,0.570644,0.0,0.000307,0.0,0.0,3.833042,0.188071
2,2_2000-04-01,2,2000-04-01,25.443,5.074,0.000000,1240.449964,0.0,-200.503858,1240.449964,...,0.0,0.238300,0.0,0.761700,0.0,0.000000,0.0,0.0,1.927303,0.211730
3,3_2000-04-01,3,2000-04-01,25.665,5.070,0.000000,1229.240077,0.0,-177.011032,1229.240077,...,0.0,0.488146,0.0,0.511854,0.0,0.000000,0.0,0.0,1.878281,0.215403
4,4_2000-04-01,4,2000-04-01,25.886,5.067,0.000307,1224.093679,0.0,-153.256111,1224.093679,...,0.0,0.322243,0.0,0.677757,0.0,0.000000,0.0,0.0,1.968818,0.199975

In [32]:
data[data['population_density'].isnull()]

,ID,area,date,lat,lon,burn_area,climate_aet,climate_def,climate_pdsi,climate_pet,...,landcover_1,landcover_2,landcover_3,landcover_4,landcover_5,landcover_6,landcover_7,landcover_8,population_density,precipitation
1685,1685_2000-04-01,1685,2000-04-01,22.522,-2.060,0.0,953.745391,0.000000,-201.912761,953.745391,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.270578
1686,1686_2000-04-01,1686,2000-04-01,22.745,-2.059,0.0,963.109690,0.000000,-176.605768,963.109690,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.260574
1687,1687_2000-04-01,1687,2000-04-01,22.968,-2.058,0.0,964.944552,0.000000,-175.320971,964.944552,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.246479
1691,1691_2000-04-01,1691,2000-04-01,23.857,-2.053,0.0,989.603828,0.000000,-154.471049,989.603828,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.240277
1692,1692_2000-04-01,1692,2000-04-01,24.079,-2.052,0.0,994.569687,0.000000,-126.202003,994.569687,...,0.0,0.997234,0.0,0.0,0.0,0.002766,0.0,0.000000,NaN,0.227709
1693,1693_2000-04-01,1693,2000-04-01,24.301,-2.051,0.0,1007.710384,0.000000,-99.804957,1007.710384,...,0.0,0.898235,0.0,0.0,0.0,0.101765,0.0,0.000000,NaN,0.257769
1744,1744_2000-04-01,1744,2000-04-01,22.523,-2.284,0.0,955.845275,1.864992,-229.338062,957.691152,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.280684
1745,1745_2000-04-01,1745,2000-04-01,22.746,-2.283,0.0,958.371005,10.919913,-224.803401,969.319382,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.269516
1746,1746_2000-04-01,1746,2000-04-01,22.969,-2.282,0.0,952.815793,14.279325,-221.957685,966.951055,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.253287
1747,1747_2000-04-01,1747,2000-04-01,23.192,-2.281,0.0,949.964897,13.742702,-219.196984,963.686007,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.285958
1748,1748_2000-04-01,1748,2000-04-01,23.414,-2.279,0.0,953.276259,13.168825,-219.051559,966.373981,...,0.0,0.996004,0.0,0.0,0.0,0.000615,0.0,0.003381,NaN,0.349597
1749,1749_2000-04-01,1749,2000-04-01,23.636,-2.278,0.0,959.757455,18.010141,-218.487384,977.908970,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.314998
1750,1750_2000-04-01,1750,2000-04-01,23.859,-2.277,0.0,984.352593,3.134741,-196.596261,987.506514,...,0.0,0.999693,0.0,0.0,0.0,0.000307,0.0,0.000000,NaN,0.303803
1751,1751_2000-04-01,1751,2000-04-01,24.081,-2.275,0.0,996.209660,0.000000,-138.939445,996.209660,...,0.0,0.998771,0.0,0.0,0.0,0.001229,0.0,0.000000,NaN,0.311491
1752,1752_2000-04-01,1752,2000-04-01,24.303,-2.274,0.0,1017.800097,0.000000,-106.613730,1017.800097,...,0.0,0.757072,0.0,0.0,0.0,0.242928,0.0,0.000000,NaN,0.270528
1753,1753_2000-04-01,1753,2000-04-01,24.524,-2.272,0.0,1022.436381,0.000000,-110.058513,1022.436381,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.234326
1802,1802_2000-04-01,1802,2000-04-01,22.525,-2.508,0.0,960.586606,0.289930,-252.418453,960.914478,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.367070
1803,1803_2000-04-01,1803,2000-04-01,22.748,-2.507,0.0,958.712416,9.721662,-226.523055,968.424111,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.373560
1804,1804_2000-04-01,1804,2000-04-01,22.970,-2.506,0.0,954.172987,19.011557,-222.573131,973.104129,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.363408
1805,1805_2000-04-01,1805,2000-04-01,23.193,-2.504,0.0,950.475513,20.442461,-220.227986,970.822437,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.390962
1806,1806_2000-04-01,1806,2000-04-01,23.415,-2.503,0.0,951.999277,23.206647,-220.064306,974.954480,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.376031
1807,1807_2000-04-01,1807,2000-04-01,23.638,-2.502,0.0,959.662068,26.065379,-220.165547,985.741243,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.349868
1808,1808_2000-04-01,1808,2000-04-01,23.860,-2.500,0.0,985.264383,7.080811,-211.671692,992.291400,...,0.0,0.995943,0.0,0.0,0.0,0.004057,0.0,0.000000,NaN,0.350209
1809,1809_2000-04-01,1809,2000-04-01,24.082,-2.498,0.0,1003.574542,0.000000,-184.211946,1003.574542,...,0.0,0.997134,0.0,0.0,0.0,0.002866,0.0,0.000000,NaN,0.344435
1810,1810_2000-04-01,1810,2000-04-01,24.304,-2.497,0.0,1020.010342,0.000000,-160.647066,1020.010342,...,0.0,0.981761,0.0,0.0,0.0,0.018239,0.0,0.000000,NaN,0.271115
1811,1811_2000-04-01,1811,2000-04-01,24.526,-2.495,0.0,1036.152716,0.000000,-160.143683,1036.152716,...,0.0,0.999583,0.0,0.0,0.0,0.000417,0.0,0.000000,NaN,0.218249
1858,1858_2000-04-01,1858,2000-04-01,22.303,-2.734,0.0,963.966832,0.000000,-350.247377,963.966832,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.435310
1859,1859_2000-04-01,1859,2000-04-01,22.526,-2.733,0.0,967.858694,0.000000,-275.120309,967.858694,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.477880
1860,1860_2000-04-01,1860,2000-04-01,22.749,-2.731,0.0,966.160010,6.907325,-222.047424,973.033788,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.494085
1861,1861_2000-04-01,1861,2000-04-01,22.972,-2.730,0.0,960.595333,18.809335,-221.031998,979.329484,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.475709
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
624980,2157_2013-12-01,2157,2013-12-01,23.649,-3.843,0.0,909.693608,0.000000,-697.155055,909.693608,...,0.0,0.851886,0.0,0.0,0.0,0.148114,0.0,0.000000,NaN,0.172590
624981,2158_2013-12-01,2158,2013-12-01,23.872,-3.841,0.0,917.515649,0.000000,-720.711116,917.515649,...,0.0,0.869503,0.0,0.0,0.0,0.130497,0.0,0.000000,NaN,0.162857
624982,2159_2013-12-01,2159,2013-12-01,24.094,-3.838,0.0,932.615033,0.000000,-743.363800,932.615033,...,0.0,0.866593,0.0,0.0,0.0,0.133407,0.0,0.000000,NaN,0.160756
624983,2160_2013-12-01,2160,2013-12-01,24.316,-3.836,0.0,942.128997,0.000000,-768.664463,942.128997,...,0.0,0.815430,0.0,0.0,0.0,0.184570,0.0,0.000000,NaN,0.161457
624984,2161_2013-12-01,2161,2013-12-01,24.538,-3.834,0.0,954.288066,0.000000,-797.207547,954.288066,...,0.0,0.907953,0.0,0.0,0.0,0.092047,0.0,0.000000,NaN,0.166596
625038,2215_2013-12-01,2215,2013-12-01,22.760,-4.076,0.0,920.824542,0.000000,-644.817437,920.824542,...,0.0,0.974488,0.0,0.0,0.0,0.025512,0.0,0.000000,NaN,0.075006
625039,2216_2013-12-01,2216,2013-12-01,22.983,-4.074,0.0,915.083675,0.000000,-660.006149,915.083675,...,0.0,0.991683,0.0,0.0,0.0,0.008317,0.0,0.000000,NaN,0.085935
625040,2217_2013-12-01,2217,2013-12-01,23.206,-4.071,0.0,913.337566,0.000000,-672.255031,913.337566,...,0.0,0.987470,0.0,0.0,0.0,0.011608,0.0,0.000922,NaN,0.102323
625043,2220_2013-12-01,2220,2013-12-01,23.874,-4.064,0.0,916.198770,0.000000,-721.845375,916.198770,...,0.0,0.984855,0.0,0.0,0.0,0.015145,0.0,0.000000,NaN,0.191973
625044,2221_2013-12-01,2221,2013-12-01,24.096,-4.062,0.0,927.240906,0.000000,-734.960371,927.240906,...,0.0,0.979539,0.0,0.0,0.0,0.020461,0.0,0.000000,NaN,0.178939
625045,2222_2013-12-01,2222,2013-12-01,24.319,-4.059,0.0,941.603678,0.000000,-765.543214,941.603678,...,0.0,0.901282,0.0,0.0,0.0,0.098718,0.0,0.000000,NaN,0.179726
625046,2223_2013-12-01,2223,2013-12-01,24.541,-4.057,0.0,950.565820,0.000000,-798.009635,950.565820,...,0.0,0.941479,0.0,0.0,0.0,0.056677,0.0,0.001844,NaN,0.167795
625047,2224_2013-12-01,2224,2013-12-01,24.763,-4.054,0.0,961.412145,0.000000,-798.884657,961.412145,...,0.0,0.892974,0.0,0.0,0.0,0.107026,0.0,0.000000,NaN,0.166287
625102,2279_2013-12-01,2279,2013-12-01,22.985,-4.298,0.0,917.262238,0.000000,-660.115023,917.262238,...,0.0,0.983568,0.0,0.0,0.0,0.016432,0.0,0.000000,NaN,0.088664
625103,2280_2013-12-01,2280,2013-12-01,23.208,-4.295,0.0,919.189043,0.000000,-679.891150,919.189043,...,0.0,0.982308,0.0,0.0,0.0,0.017692,0.0,0.000000,NaN,0.100148
625106,2283_2013-12-01,2283,2013-12-01,23.877,-4.288,0.0,919.359458,0.000000,-728.036726,919.359458,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.213074
625107,2284_2013-12-01,2284,2013-12-01,24.099,-4.285,0.0,929.938124,0.000000,-737.880703,929.938124,...,0.0,0.987556,0.0,0.0,0.0,0.012444,0.0,0.000000,NaN,0.178589
625108,2285_2013-12-01,2285,2013-12-01,24.321,-4.282,0.0,943.239096,0.000000,-765.877808,943.239096,...,0.0,0.982123,0.0,0.0,0.0,0.017877,0.0,0.000000,NaN,0.179574
625109,2286_2013-12-01,2286,2013-12-01,24.544,-4.280,0.0,949.678297,0.000000,-803.320024,949.678297,...,0.0,0.982396,0.0,0.0,0.0,0.017604,0.0,0.000000,NaN,0.180959
625110,2287_2013-12-01,2287,2013-12-01,24.766,-4.277,0.0,966.615357,0.000000,-804.471657,966.615357,...,0.0,0.630867,0.0,0.0,0.0,0.369133,0.0,0.000000,NaN,0.177974
625173,2350_2013-12-01,2350,2013-12-01,23.879,-4.511,0.0,923.201613,0.000000,-739.809100,923.201613,...,0.0,1.000000,0.0,0.0,0.0,0.000000,0.0,0.000000,NaN,0.183026
625174,2351_2013-12-01,2351,2013-12-01,24.102,-4.508,0.0,929.847808,0.000000,-746.910991,929.847808,...,0.0,0.976267,0.0,0.0,0.0,0.023733,0.0,0.000000,NaN,0.158635
625175,2352_2013-12-01,2352,2013-12-01,24.324,-4.505,0.0,945.453112,0.000000,-775.544240,945.453112,...,0.0,0.966573,0.0,0.0,0.0,0.033427,0.0,0.000000,NaN,0.185032
625176,2353_2013-12-01,2353,2013-12-01,24.547,-4.503,0.0,950.748335,0.000000,-811.728231,950.748335,...,0.0,0.987649,0.0,0.0,0.0,0.012351,0.0,0.000000,NaN,0.211273
625177,2354_2013-12-01,2354,2013-12-01,24.769,-4.500,0.0,958.951557,0.000000,-815.404977,958.951557,...,0.0,0.819747,0.0,0.0,0.0,0.180253,0.0,0.000000,NaN,0.204228
625245,2422_2013-12-01,2422,2013-12-01,24.105,-4.732,0.0,930.304938,0.000000,-769.155833,930.304938,...,0.0,0.998771,0.0,0.0,0.0,0.001229,0.0,0.000000,NaN,0.134117
625246,2423_2013-12-01,2423,2013-12-01,24.327,-4.729,0.0,944.210735,0.000000,-787.889156,944.210735,...,0.0,0.901024,0.0,0.0,0.0,0.097439,0.0,0.001537,NaN,0.166199
625247,2424_2013-12-01,2424,2013-12-01,24.550,-4.726,0.0,951.911637,0.000000,-818.529214,951.911637,...,0.0,0.899624,0.0,0.0,0.0,0.098840,0.0,0.001537,NaN,0.196682
625321,2498_2013-12-01,2498,2013-12-01,24.330,-4.952,0.0,945.246880,0.000000,-793.199472,945.246880,...,0.0,0.785504,0.0,0.0,0.0,0.214496,0.0,0.000000,NaN,0.157668
625396,2573_2013-12-01,2573,2013-12-01,24.333,-5.175,0.0,943.631319,0.000000,-789.262638,943.631319,...,0.0,0.810221,0.0,0.0,0.0,0.189779,0.0,0.000000,NaN,0.209688

In [ ]:
data[]

In [3]:
data.columns

Index(['ID', 'area', 'date', 'lat', 'lon', 'burn_area', 'climate_aet',
       'climate_def', 'climate_pdsi', 'climate_pet', 'climate_pr',
       'climate_ro', 'climate_soil', 'climate_srad', 'climate_swe',
       'climate_tmmn', 'climate_tmmx', 'climate_vap', 'climate_vpd',
       'climate_vs', 'elevation', 'landcover_0', 'landcover_1', 'landcover_2',
       'landcover_3', 'landcover_4', 'landcover_5', 'landcover_6',
       'landcover_7', 'landcover_8', 'population_density', 'precipitation'],
      dtype='object')

In [4]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
area,626644.0,1.910000e+03,1103.028532,0.000000,955.000000,1910.000000,2865.000000,3820.000000
lat,626644.0,2.374398e+01,3.892348,12.416000,20.741000,24.107000,26.956000,31.096000
lon,626644.0,-2.859994e+00,4.397921,-13.394000,-6.146000,-2.945000,0.857000,5.296000
burn_area,626644.0,1.490376e-02,0.061526,0.000000,0.000000,0.000000,0.000000,0.952641
climate_aet,626644.0,8.689074e+02,287.975104,7.438208,781.852462,954.076835,1056.306879,1666.262670
climate_def,626644.0,2.235093e+02,372.066304,0.000000,0.000000,0.000000,333.155481,2048.897442
climate_pdsi,626644.0,-2.587147e+02,331.469776,-1387.832916,-467.326288,-293.756227,-110.273937,1131.222423
climate_pet,626644.0,1.092417e+03,170.072823,510.639390,973.879811,1068.663459,1184.196489,2125.220848
climate_pr,626644.0,1.258686e+02,86.558539,0.000000,54.756412,128.187523,184.165079,1111.881507
climate_ro,626644.0,3.882393e+01,55.748898,0.000000,2.998071,8.000000,63.968079,1028.775818
climate_soil,626644.0,9.394601e+02,665.643975,21.507944,385.369020,772.587434,1362.433666,3508.381210
climate_srad,626644.0,1.893145e+03,269.334818,696.514959,1707.282363,1890.893983,2078.610153,2962.535010
climate_swe,626644.0,6.250306e-07,0.000365,0.000000,0.000000,0.000000,0.000000,0.277248
climate_tmmn,626644.0,1.857180e+02,24.548665,38.863690,176.514720,191.908987,201.358784,251.821796
climate_tmmx,626644.0,2.991491e+02,18.169408,148.171487,291.448015,300.363332,309.136060,374.382920
climate_vap,626644.0,2.331860e+03,391.920264,806.692753,2152.248206,2434.875742,2613.203412,3192.843792
climate_vpd,626644.0,8.847116e+01,33.756141,0.000000,66.639851,80.557314,101.447069,313.996748
climate_vs,626644.0,1.429748e+02,49.427436,47.621263,106.740654,133.116391,170.041921,463.386183
elevation,626644.0,6.919382e+02,330.924429,40.145363,450.612068,598.579235,865.704085,2711.961772
landcover_0,626644.0,1.245247e-02,0.088407,0.000000,0.000000,0.000000,0.000000,1.000000
landcover_1,626644.0,3.551044e-05,0.000709,0.000000,0.000000,0.000000,0.000000,0.044034
landcover_2,626644.0,7.714775e-01,0.327120,0.000000,0.590311,0.975270,1.000000,1.000000
landcover_3,626644.0,1.397882e-07,0.000007,0.000000,0.000000,0.000000,0.000000,0.000615
landcover_4,626644.0,1.881890e-01,0.314002,0.000000,0.000000,0.000000,0.298845,1.000000
landcover_5,626644.0,2.661026e-04,0.004851,0.000000,0.000000,0.000000,0.000000,0.197675
landcover_6,626644.0,2.638244e-02,0.086140,0.000000,0.000000,0.000307,0.010451,0.991276
landcover_7,626644.0,3.968510e-05,0.000533,0.000000,0.000000,0.000000,0.000000,0.023099
landcover_8,626644.0,1.157209e-03,0.009156,0.000000,0.000000,0.000000,0.000000,0.478727
population_density,607128.0,3.002247e+01,175.864136,0.000000,8.140170,14.146377,26.957529,9514.004270
precipitation,626644.0,1.817628e-01,0.130271,0.000000,0.078666,0.171292,0.261780,1.187434

In [5]:
data.isnull().sum()

ID                        0
area                      0
date                      0
lat                       0
lon                       0
burn_area                 0
climate_aet               0
climate_def               0
climate_pdsi              0
climate_pet               0
climate_pr                0
climate_ro                0
climate_soil              0
climate_srad              0
climate_swe               0
climate_tmmn              0
climate_tmmx              0
climate_vap               0
climate_vpd               0
climate_vs                0
elevation                 0
landcover_0               0
landcover_1               0
landcover_2               0
landcover_3               0
landcover_4               0
landcover_5               0
landcover_6               0
landcover_7               0
landcover_8               0
population_density    19516
precipitation             0
dtype: int64

In [6]:
data = data.drop(['ID', "area", "date"], axis = 1)

In [7]:
data.head(10)

,lat,lon,burn_area,climate_aet,climate_def,climate_pdsi,climate_pet,climate_pr,climate_ro,climate_soil,...,landcover_1,landcover_2,landcover_3,landcover_4,landcover_5,landcover_6,landcover_7,landcover_8,population_density,precipitation
0,25.447,5.296,0.003688,1250.622712,0.0,-178.916305,1250.622712,158.387765,8.000000,498.913776,...,0.0,0.350169,0.0,0.649524,0.0,0.000307,0.0,0.0,2.214262,0.198996
1,25.669,5.293,0.000000,1238.019166,0.0,-150.779947,1238.019166,164.645065,8.104576,590.346191,...,0.0,0.429049,0.0,0.570644,0.0,0.000307,0.0,0.0,3.833042,0.188071
2,25.443,5.074,0.000000,1240.449964,0.0,-200.503858,1240.449964,163.699542,8.027851,536.613938,...,0.0,0.238300,0.0,0.761700,0.0,0.000000,0.0,0.0,1.927303,0.211730
3,25.665,5.070,0.000000,1229.240077,0.0,-177.011032,1229.240077,172.996043,8.820002,648.271615,...,0.0,0.488146,0.0,0.511854,0.0,0.000000,0.0,0.0,1.878281,0.215403
4,25.886,5.067,0.000307,1224.093679,0.0,-153.256111,1224.093679,178.396749,9.000000,719.423119,...,0.0,0.322243,0.0,0.677757,0.0,0.000000,0.0,0.0,1.968818,0.199975
5,26.108,5.063,0.000000,1215.375285,0.0,-137.379480,1215.375285,180.862160,9.000000,774.345919,...,0.0,0.320245,0.0,0.679755,0.0,0.000000,0.0,0.0,1.878478,0.195985
6,26.329,5.059,0.000000,1226.289328,0.0,-133.668514,1226.289328,181.480607,9.000000,799.837268,...,0.0,0.320425,0.0,0.679575,0.0,0.000000,0.0,0.0,1.889593,0.213340
7,26.550,5.055,0.000000,1221.553861,0.0,-136.422001,1221.553861,181.731956,9.000000,830.901885,...,0.0,0.491759,0.0,0.508241,0.0,0.000000,0.0,0.0,1.898939,0.237743
8,26.771,5.051,0.000000,1217.142668,0.0,-137.683723,1217.142668,180.821695,9.000963,832.245124,...,0.0,0.455180,0.0,0.544820,0.0,0.000000,0.0,0.0,1.231987,0.250554
9,26.991,5.047,0.000000,1226.507805,0.0,-138.340418,1226.507805,179.323367,9.000000,811.208213,...,0.0,0.533763,0.0,0.466237,0.0,0.000000,0.0,0.0,2.875994,0.246241

In [8]:
y = data['burn_area']
x = data.drop("burn_area", axis = 1)

In [9]:
y.head()

0    0.003688
1    0.000000
2    0.000000
3    0.000000
4    0.000307
Name: burn_area, dtype: float64

In [10]:
x.head()

,lat,lon,climate_aet,climate_def,climate_pdsi,climate_pet,climate_pr,climate_ro,climate_soil,climate_srad,...,landcover_1,landcover_2,landcover_3,landcover_4,landcover_5,landcover_6,landcover_7,landcover_8,population_density,precipitation
0,25.447,5.296,1250.622712,0.0,-178.916305,1250.622712,158.387765,8.000000,498.913776,2143.430034,...,0.0,0.350169,0.0,0.649524,0.0,0.000307,0.0,0.0,2.214262,0.198996
1,25.669,5.293,1238.019166,0.0,-150.779947,1238.019166,164.645065,8.104576,590.346191,2132.253953,...,0.0,0.429049,0.0,0.570644,0.0,0.000307,0.0,0.0,3.833042,0.188071
2,25.443,5.074,1240.449964,0.0,-200.503858,1240.449964,163.699542,8.027851,536.613938,2139.632626,...,0.0,0.238300,0.0,0.761700,0.0,0.000000,0.0,0.0,1.927303,0.211730
3,25.665,5.070,1229.240077,0.0,-177.011032,1229.240077,172.996043,8.820002,648.271615,2125.206979,...,0.0,0.488146,0.0,0.511854,0.0,0.000000,0.0,0.0,1.878281,0.215403
4,25.886,5.067,1224.093679,0.0,-153.256111,1224.093679,178.396749,9.000000,719.423119,2114.709813,...,0.0,0.322243,0.0,0.677757,0.0,0.000000,0.0,0.0,1.968818,0.199975

In [11]:
x.isnull().sum()

lat                       0
lon                       0
climate_aet               0
climate_def               0
climate_pdsi              0
climate_pet               0
climate_pr                0
climate_ro                0
climate_soil              0
climate_srad              0
climate_swe               0
climate_tmmn              0
climate_tmmx              0
climate_vap               0
climate_vpd               0
climate_vs                0
elevation                 0
landcover_0               0
landcover_1               0
landcover_2               0
landcover_3               0
landcover_4               0
landcover_5               0
landcover_6               0
landcover_7               0
landcover_8               0
population_density    19516
precipitation             0
dtype: int64

In [12]:
ave = x['population_density'].mean()

In [13]:
ave

30.02246826973376

In [14]:
emp = x[x['population_density'].isnull()]
for index, row in emp.iterrows():
    x.at[index, 'population_density'] = ave

In [15]:
x.isnull().sum()

lat                   0
lon                   0
climate_aet           0
climate_def           0
climate_pdsi          0
climate_pet           0
climate_pr            0
climate_ro            0
climate_soil          0
climate_srad          0
climate_swe           0
climate_tmmn          0
climate_tmmx          0
climate_vap           0
climate_vpd           0
climate_vs            0
elevation             0
landcover_0           0
landcover_1           0
landcover_2           0
landcover_3           0
landcover_4           0
landcover_5           0
landcover_6           0
landcover_7           0
landcover_8           0
population_density    0
precipitation         0
dtype: int64

In [16]:
x.describe().T

,count,mean,std,min,25%,50%,75%,max
lat,626644.0,2.374398e+01,3.892348,12.416000,20.741000,24.107000,26.956000,31.096000
lon,626644.0,-2.859994e+00,4.397921,-13.394000,-6.146000,-2.945000,0.857000,5.296000
climate_aet,626644.0,8.689074e+02,287.975104,7.438208,781.852462,954.076835,1056.306879,1666.262670
climate_def,626644.0,2.235093e+02,372.066304,0.000000,0.000000,0.000000,333.155481,2048.897442
climate_pdsi,626644.0,-2.587147e+02,331.469776,-1387.832916,-467.326288,-293.756227,-110.273937,1131.222423
climate_pet,626644.0,1.092417e+03,170.072823,510.639390,973.879811,1068.663459,1184.196489,2125.220848
climate_pr,626644.0,1.258686e+02,86.558539,0.000000,54.756412,128.187523,184.165079,1111.881507
climate_ro,626644.0,3.882393e+01,55.748898,0.000000,2.998071,8.000000,63.968079,1028.775818
climate_soil,626644.0,9.394601e+02,665.643975,21.507944,385.369020,772.587434,1362.433666,3508.381210
climate_srad,626644.0,1.893145e+03,269.334818,696.514959,1707.282363,1890.893983,2078.610153,2962.535010
climate_swe,626644.0,6.250306e-07,0.000365,0.000000,0.000000,0.000000,0.000000,0.277248
climate_tmmn,626644.0,1.857180e+02,24.548665,38.863690,176.514720,191.908987,201.358784,251.821796
climate_tmmx,626644.0,2.991491e+02,18.169408,148.171487,291.448015,300.363332,309.136060,374.382920
climate_vap,626644.0,2.331860e+03,391.920264,806.692753,2152.248206,2434.875742,2613.203412,3192.843792
climate_vpd,626644.0,8.847116e+01,33.756141,0.000000,66.639851,80.557314,101.447069,313.996748
climate_vs,626644.0,1.429748e+02,49.427436,47.621263,106.740654,133.116391,170.041921,463.386183
elevation,626644.0,6.919382e+02,330.924429,40.145363,450.612068,598.579235,865.704085,2711.961772
landcover_0,626644.0,1.245247e-02,0.088407,0.000000,0.000000,0.000000,0.000000,1.000000
landcover_1,626644.0,3.551044e-05,0.000709,0.000000,0.000000,0.000000,0.000000,0.044034
landcover_2,626644.0,7.714775e-01,0.327120,0.000000,0.590311,0.975270,1.000000,1.000000
landcover_3,626644.0,1.397882e-07,0.000007,0.000000,0.000000,0.000000,0.000000,0.000615
landcover_4,626644.0,1.881890e-01,0.314002,0.000000,0.000000,0.000000,0.298845,1.000000
landcover_5,626644.0,2.661026e-04,0.004851,0.000000,0.000000,0.000000,0.000000,0.197675
landcover_6,626644.0,2.638244e-02,0.086140,0.000000,0.000000,0.000307,0.010451,0.991276
landcover_7,626644.0,3.968510e-05,0.000533,0.000000,0.000000,0.000000,0.000000,0.023099
landcover_8,626644.0,1.157209e-03,0.009156,0.000000,0.000000,0.000000,0.000000,0.478727
population_density,626644.0,3.002247e+01,173.103943,0.000000,8.333204,14.761963,28.432320,9514.004270
precipitation,626644.0,1.817628e-01,0.130271,0.000000,0.078666,0.171292,0.261780,1.187434

In [17]:
x.shape

(626644, 28)

In [18]:
data.shape

(626644, 29)

In [28]:

# Using different models to find the optimal model
#
from sklearn.model_selection import KFold, cross_val_score
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error


# Creating a list of regressor algorithms to compare with
#
models = [RandomForestRegressor(), GradientBoostingRegressor(), AdaBoostRegressor(), DecisionTreeRegressor(),\
          SVR(), KNeighborsRegressor(), LinearRegression()]


# Creating lists of the algorithms, to store the accuracy scores of each fold
#
RandomForest, GradientBoosting, AdaBoost, DecisionTree, SVR, KNeighbors, Linear= ([] for x in range(7))


# Creating a list containig the list of each algorithm. Created for easy iteration
#
model_list = [RandomForest, GradientBoosting, AdaBoost, DecisionTree, SVR, KNeighbors, Linear]



# Creating a cross validation of 10 folds
#
kfold  = KFold(n_splits=10, random_state=101)


# Iterating through each model and appending the scores of each fold to the appriopriate list
#
for i, j in zip(models, model_list):
  j.extend(list(cross_val_score(i, X, y, scoring = 'neg_mean_squared_error', cv = kfold)))

  
# Creating a function to convert neg_mean_squared_error to a square root
#
def sq(lis):
  new_lis = []
  lis = np.array(lis)
  for i in lis:
    i = np.sqrt(i*-1)
    new_lis.append(i)
  return new_lis


# Creating a dataframe of all the rmses from the iterations for each model
#
rmses = pd.DataFrame({'Fold': np.arange(1, 11), 'RandomForest': sq(RandomForest), 'GradientBoosting': sq(GradientBoosting), 'Adaboost': sq(AdaBoost), 'DecisionTree': sq(DecisionTree),\
                       'SVR': sq(SVR), 'Kneighbors': sq(KNeighbors), 'Linear': sq(Linear)})

# Setting the index
#
rmses.set_index('Fold', inplace = True)


# Calculating the mean and standard deviation rmse of each algorithm
#
rmses.loc['mean'] = rmses.mean()
rmses.loc['std'] = rmses.std()


# Previewing the rmses dataframe
#
rmses

KeyboardInterrupt:

In [ ]:
rmses.loc['mean'].idxmin(), rmses.loc['mean'].min()

In [ ]:
# Arranging the models in ascending order
#
rmses.loc['mean'].sort_values()

In [20]:
test = pd.read_csv("UmojaHack#3:Hotspots/test.csv")

In [25]:
test.isnull().sum()

ID                    0
area                  0
date                  0
lat                   0
lon                   0
burn_area             0
climate_aet           0
climate_def           0
climate_pdsi          0
climate_pet           0
climate_pr            0
climate_ro            0
climate_soil          0
climate_srad          0
climate_swe           0
climate_tmmn          0
climate_tmmx          0
climate_vap           0
climate_vpd           0
climate_vs            0
elevation             0
landcover_0           0
landcover_1           0
landcover_2           0
landcover_3           0
landcover_4           0
landcover_5           0
landcover_6           0
landcover_7           0
landcover_8           0
population_density    0
precipitation         0
dtype: int64

In [23]:
ave = test['population_density'].mean()
emp = test[test['population_density'].isnull()]
for index, row in emp.iterrows():
    test.at[index, 'population_density'] = ave

In [24]:
sub = test.drop(['area', 'ID', 'date', 'burn_area'], axis = 1)

In [26]:
# Using the top three models; XGBoost, Catboost and Gradientboost to train and make predictions
# Creating a list of models to use
models = [GradientBoostingRegressor()]
model_names = ['gradientboost']


# Using a for loop to create a submission file for each model
#
for model, model_name in zip(models, model_names):
  regressor = model                      # instantiating the model
  regressor.fit(x, y)                    # Training the model
  predictions  = regressor.predict(sub)  # Making predictions
  submission_df = pd.DataFrame({'ID': test.ID, 'burn_area': predictions}) # Creating a submission file
  submission_df.to_csv(model_name + '_baseline.csv', index = False)

In [27]:
targeted = pd.read_csv("gradientboost_baseline.csv")
targeted.head()

             ID  burn_area
0  0_2014-01-01   0.175140
1  1_2014-01-01   0.180968
2  2_2014-01-01   0.201330
3  3_2014-01-01   0.174108
4  4_2014-01-01   0.188916

In [ ]:
# Import the necessary libraries first
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

# Feature extraction
test = SelectKBest(score_func=chi2, k=20)
fit = test.fit(X_df, y_df)

# Summarize scores
np.set_printoptions(precision=3)
print(fit.scores_)

features = fit.transform(X_df)
# Summarize selected features
print(features[0:5,:])