In [1]:
import pandas as pd
df = pd.read_csv("Train.csv")
df.head()

      Image_ID  Target
0  ID_0073qfb8       0
1  ID_00gy3vH2       1
2  ID_00uB3UFr       0
3  ID_012xZpNw       1
4  ID_014GgMRb       1

In [2]:
class1 = df[df["Target"] == 0]
class2 = df[df["Target"] == 1]
class1.head()

       Image_ID  Target
0   ID_0073qfb8       0
2   ID_00uB3UFr       0
7   ID_02NwpiN6       0
9   ID_048VVzNB       0
11  ID_05FR1jY5       0

In [7]:
class1.to_csv("class1.csv")

In [8]:
class2.to_csv("class2.csv")